<template>
  <div class="cart">
    <router-link :to="{name: 'catalog'}">
      <div class="catalog-link-to-cart">
        <v-label>Back to catalog</v-label>
      </div>
    </router-link>
    <h1 class="test">Корзина с покупками</h1>
    <p v-if="cart_data.length == 0">There are no products in cart...</p>
    <CartItem
        v-for="(item, i) in cart_data"
        :key="item.productid"
        :cart_item_data="item"
        @deleteItemFromCart="deleteItemFromCart(i)"
        @increment="increment(i)"
        @decrement="decrement(i)"
    />
    <router-link
      v-if="cart_data.length"
      :to="{name: 'order', params: { products: cart_data,
      totalSum: cartTotalCost}}">
    <div class="cart-total">
      <p class="total-name">
        Total:</p>
      <p>{{cartTotalCost| toFix | priceFormat }}</p>
    </div>
    </router-link>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
import CartItem from './Cart-item'
import CreateOrder from "@/components/cart/CreateOrder";
import toFix from "@/filters/toFix";
import priceFormat from "@/filters/priceFormat";
import store from "@/store";
import router from "@/router";

export default {
  name: "cart",
  props: {
    cart_data: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data(){
    return {
    }
  },
  components: {
    CartItem,
    CreateOrder
  },

  methods: {
    ...mapActions(['DELETE_FROM_CART', 'INCREMENT_CART_ITEM',
      'DECREMENT_CART_ITEM']),
    ...mapGetters(['USER', 'CARTS']),
    createOrder(){
      console.log("FDSFSD", store.state.carts)
      if(store.state.carts.length !== 0) {
        router.push({
          name: "order",
          params: {
              products: this.cart_data ,
              totalSum: this.cartTotalCost
            }});
      } else
        alert("Корзина пуста, оформить заказ невозможно!")
    },
    deleteItemFromCart(i){
      console.log('DELETE_FROM_CART:', i)
      this.DELETE_FROM_CART(i);
    },
    increment(i){
      console.log('INC_FROM_CART:', i)
      this.INCREMENT_CART_ITEM(i);
    },
    decrement(i){
      console.log('DEC_FROM_CART:', i)
      this.DECREMENT_CART_ITEM(i);
    }
  },
  computed: { //svoistva
    cartTotalCost(){
      let result = [];
      if(this.cart_data.length){
        for(let item of this.cart_data){
          result.push(item.price * item.quantity)
        }
        result = result.reduce(function(sum, el){ //slojim vse elements massiva
          return sum + el;
        });
        return result;
      } else return 0;

    }
  },
  mounted() {
    console.log('mounted from CART: ', this.cart_data)
    console.log('mounted DDD from CART: ', this.CARTS)
  },
  filters: {
    toFix,
    priceFormat
  }
}
</script>

<style lang="scss">
@import "./src/assets/styles/styles";
#app{
  font-family: Ubuntu, "fantasy", times, roman, serif;
  font-style: normal;
  color:green;
}
.test{
  color:red
}
.cart {
  margin-bottom: 100px;
  width: 1000px;
  &-total{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: $padding*2 $padding*3;
    display: flex;
    justify-content: center;
    background: $green-bg;
    color: #ffffff;
    font-size: 20px;
  }
  .total-name {
    margin-right: $margin*2;

  }
}
</style>
