<template>
<div class="cart-item">
<!--  <img class="cart-item-image" :src=" require('../../assets/images/' + cart_item_data.image) " alt="img">-->
  <div class="cart-item-info">
    <p>{{cart_item_data.productid}}</p>
    <p>{{cart_item_data.name}}</p>
    <p>{{cart_item_data.price | toFix | formattedPrice}}</p>
    <p>{{cart_item_data.categories[0].name}}</p>
  </div>
  <div class="cart-quantity">
    <p>Quantity:</p>
    <span>
      <span class="quantity-btn" @click="incrementItem">+</span>
      {{cart_item_data.quantity}}
      <span class="quantity-btn" @click="decrementItem">-</span>
    </span>
  </div>
  <button @click="deleteItem">Delete</button>
</div>
</template>

<script>
import toFix from "@/filters/toFix";
import formattedPrice from "@/filters/priceFormat";
export default {
  name: "Cart-item",
  props: {
    cart_item_data: {
      type: Object,
      default(){
        return {}
      }
    }
  },
  methods: {
    incrementItem(){
      this.$emit('increment')
    },
    decrementItem(){
      this.$emit('decrement')
    },
    deleteItem(){
       this.$emit('deleteItemFromCart');
    }
  },
  filters: {
    toFix,
    formattedPrice
  },
  mounted() { // hook, kotorii otrabativaet kogda component polnoctiyu zagruzitcya
    this.$set(this.cart_item_data, 'quantity', 1)
    console.log('mounted from cart item: ', this.cart_item_data)
  }
}
</script>

<style lang="scss">
@import "./src/assets/styles/styles";
.cart-item{
  height: 300px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px 0 #e0e0e0;
  padding: $padding*2;
  margin-bottom: $margin*2;
  &__image{
    max-width: 50px;
  }
}

.cart-item-image{
  height: 50px;
  width: 50px;
}
.cart-quantity{
  .quantity-btn {
    cursor:pointer;
  }
}
.cart-item-info{
  margin: 50px;
}
</style>
