<template>
  <v-layout row>
    <v-flex>
      <router-link :to="{name: 'catalog'}">
        <v-btn color="red">Back to catalog</v-btn>
      </router-link>
  <v-data-table
    :headers="headers"
    :items="products"
  >
    <template slot="items" slot-scope="props">
      <td>{{ props.item.productid}}</td>
      <td>{{ props.item.name }}</td>
      <td>{{ props.item.price | toFix}}</td>
      <td>{{ props.item.categories[0].name }}</td>
      <td>{{ props.item.quantity }}</td>
    </template>
    <template slot="footer">
      <td class="text--accent-1">Total: {{ totalSum | toFix }}</td>
    </template>
  </v-data-table>
      <v-btn
        class="v-btn"
        color="green"
        @click="buy"
      >
        Buy
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import store from "@/store";
import toFix from "@/filters/toFix";
import router from "@/router";
import {mapActions} from "vuex";
export default {
  name: "CreateOrder",
  components: {

  },
  filters: {
    toFix
  },
  props: {
    products: {
      type: Array,
      default() {
        return [];
      }
    },
    totalSum: ''
  },
  data() {
    return {
      headers: [
        {
          text: "ID",
          value: 'id'
        },
        {
          text: "name",
          value: 'name'
        },
        {
          text: "price",
          value: "price"
        },
        {
          text: "category",
          value: 'category'
        },
        {
          text: "quantity",
          value: 'quantity'
        }
      ]
    }
  },
  methods: {
    ...mapActions(['MAKE_ORDER']),
    buy() {
      console.log("BUY: ", store.state.user.username)
      console.log("BUY2:", this.products)

      this.MAKE_ORDER({
        user: {username: store.state.user.username},
        products: this.products,
        cost: this.totalSum
      });
      alert("Ваш заказ успешно оформлен");
      router.push('/catalog')
    },
    getUser(){
      return store.state.user
    }
  },
  mounted() {
    console.log("MOUNT PRODUCTS:", this.products)
    console.log("MOUNT User:", this.getUser())
    console.log("MOUNT CART", this.CARTS)
  }
}
</script>

<style>

</style>
