  <template>
  <div class="catalog-wrapper">
<!--    <Catalog/>
    <Cart
        v-if="CARTS.length"
        :cart_data="CARTS"    />
    &lt;!&ndash; (V-IF) esli budet 0 => false (korzini ne budet), inache=> true &ndash;&gt;-->
  </div>
</template>
<script>

/*import Catalog from "@/components/Catalog"
import Cart from "@/components/Cart";*/
/*import {mapGetters} from 'vuex'*/

export default {
  name: "Catalog-wrapper",
/*  components: {
    Cart,
    Catalog
  },//zdec obiyavlyauytcya deti*/
  props: { }, //zdec kakie objecti budut priletat ot roditelya
  data() { //personal data our component
    return {
    }
  },
/*  computed: {
    ...mapGetters([
      'CARTS'
    ])
  },*/
  methods: {},
  watch: {},
/*  mounted() { // hook, kotorii otrabativaet kogda component polnoctiyu zagruzitcya
    console.log("Hello CATALOG WRAPPER!")
  }*/
}
</script>

<style>
  .catalog-wrapper {
    max-width: 900px;
    margin: 0 auto; /*buit cidet po centru*/
  }
</style>