<template>
<div class="select">
  <p
  class="title"
  @click="areOptionsVisible=!areOptionsVisible">
    {{this.selected}}
  </p>
  <div class="options"
       v-if="areOptionsVisible"
  >
    <p v-for="option in options"
       :key="option.value"
       @click="selectOptions(option)"
    >
      {{option.name}}
    </p>
  </div>
</div>
</template>

<script>
export default {
  name: "Select",
  props: {
    options: {
      type: Array,
      default(){
        return []
      }
    },
    selected: {
      type: String,
      default() {
        return '';
      }
    }
  },
  data() {
    return {
      areOptionsVisible:false
    }
  },
  methods: {
    selectOptions(option){
      this.$emit('select', option)
      this.areOptionsVisible = false
    },
    hideSelect(){
      this.areOptionsVisible = false
    }
  },
  mounted(){
    document.addEventListener('click', this.hideSelect.bind(this),
      true);
  },
  beforeDestroy() {
    document.removeEventListener('click', this.hideSelect)
  }
}
</script>

<style>
.select{
  position: relative;
  width: 200px;
  cursor:pointer;
}
.title{
  border: solid 1px #aeaeae;
}
.select p {
margin: 0;
}
.options{
  border: solid 1px #aeaeae;
  position: absolute;
  top: 20px;
  right: 0;
  width: 100%;
}
</style>
