<template>
  <v-card-title>
    <h1>Мои заказы</h1>
  </v-card-title>
</template>

<script>
import {mapActions} from "vuex";
import store from "@/store";

export default {
  name: "UserPanel",
  methods: {
    ...mapActions(['GET_ALL_ORDERS_BY_USER'])
  },
  mounted() {
    this.GET_ALL_ORDERS_BY_USER(store.state.user);
  }
}
</script>

<style>

</style>
