<template>
<div class="catalog-item">
<!--  <img class="image" :src=" require('../../assets/images/' + product_data.image) " alt="img">-->
  <Popup
      v-if="isInfoPopupVisible"
      @closePopup="closeInfoPopup"
      rightButtonTitle="Add to cart"
      :popupTitle="product_data.name"
      @rightBtnAction="addToCart"
  >
    <p>{{product_data.name}}</p><!-- slot принимает всё что сюда напишем, вместе с тегами-->
  </Popup>
  <div class="catalog-item-info">
  <p>{{product_data.productid}}</p>
  <p>{{product_data.name}}</p>
  <p>{{product_data.price | toFix | formattedPrice}}</p>
  <p>{{product_data.categories[0].name}}</p>
  </div>
  <button
      class="btn catalog-item-show-info"
      @click="showPopupInfo"
  >Show info</button>
  <button
      class="btn catalog-item-add-to-cart-button"
      @click="addToCart">Add to cart</button>
</div>
</template>

<script>
import toFix from "@/filters/toFix";
import formattedPrice from "@/filters/priceFormat";
import Popup from "@/components/popup/Popup";
export default {
  name: "Catalog-item",
  props: {
    product_data: {
      type: Object,
      default(){
        return {}
      }
    }
  },
  components: {
    Popup
  },
  data(){
    return {
      isInfoPopupVisible: false
    }
  },
  filters: {
    toFix,
    formattedPrice
  },
  methods: {
    addToCart(){
      console.log('CATALOG ITEM, PROD_DATA: ', this.product_data)
      this.$emit('addToCart', this.product_data);
    },
    showPopupInfo(){
      this.isInfoPopupVisible = true;
    },
    closeInfoPopup() {
      this.isInfoPopupVisible = false;
    }
  },
  computed:{}
}
</script>

<style lang="scss">
@import "./src/assets/styles/styles";
.catalog-item {
    flex-basis: 25%; /* kajdii element rebenka vo flex-containere budet zanimat 25% shirini*/
    box-shadow: 0 0 8px 0 #e0e0e0;
    padding: $padding*2;
    margin-bottom: $margin*2;
  &-info {
    display: flex;
    flex-wrap: wrap; /*c perenosom na cleduyushuuy ctroky*/
    justify-content: space-between; /*raspolojenie objectov c rasstoyaniem mejdy drug drugom*/
    flex: 30px;
    align-items: center; /*viravnivanie po centru*/
  }
  &-show-info{
    margin:50px;
    background: aqua;
  }
}
/*.image {
  width: 500px;
}*/
</style>
