<template>
  <div class="catalog">
    <Header/>
    <router-link :to="{ name: 'cart', params: { cart_data: CARTS} }">
      <div class="catalog-link-to-cart">
        <p>Positions: {{CARTS.length}}</p>
      </div>
    </router-link>
    <div class="filters">
      <Select
          :selected="selected"
          :options="categories"
          @select="sortByCategories"
      />
      <div class="range-slider">
        <input type="range" min="0" max="1000" step="10"
               v-model.number="minPrice"
               @change="setRangeSliders"
        >
        <input type="range" min="0" max="1000" step="10"
               v-model.number="maxPrice"
               @change="setRangeSliders"
        >
      </div>
      <div class="range-values">
        <p>Min: {{minPrice}}</p>
        <p>Max: {{maxPrice}}</p>
      </div>
    </div>
<!--    <div class="catalog-list">-->
    <CatalogItem
        class="catalog-list"
        v-for="(product) in sortedProducts"
        :key="product.productid"
        :product_data="product"
        @addToCart="addToCart">
<!--    {{ product }}--><!--сюда можно вставить фильтр по категориям-->
    </CatalogItem>
<!--    </div>-->
  </div>
</template>

<script>
import CatalogItem from './Catalog-item'
import {mapActions, mapGetters} from 'vuex'
import Select from "@/components/Select";
import Header from "@/components/layouts/Header";
export default {
  name: "Catalog",
  components: {
    Header,
    CatalogItem,
    Select
  },
  props: {},
  data() {
    return {
      search: '',
      categories: [],
      selected: 'Все',
      sortedProducts: [],
      minPrice: 0,
      maxPrice: 2000
    }
  },
  methods: {
    setSelected(selected){
      this.selected = selected;
    },
    setRangeSliders(){
      if(this.minPrice > this.maxPrice){
        let tmp = this.maxPrice;
        this.maxPrice = this.minPrice;
        this.minPrice = tmp;
      }
      this.sortByCategories(this.selected);
    },
    sortByCategories(category){
      let self = this;
      this.sortedProducts = [...this.PRODUCTS];
      this.sortedProducts = this.sortedProducts.filter(function (item) {
        return item.price >= self.minPrice && item.price <= self.maxPrice;
      })
      if(category.name){
        this.sortedProducts = this.sortedProducts.filter(function (e) {
          return e.categories[0].name === category.name;
        });
      }
    },
    addToCart(data){
      console.log('ADDTOCART: ', data);
      this.ADD_TO_CART(data); //call action
    },
    sortProductsBySearchValue(value){
      this.sortedProducts = [...this.PRODUCTS]
      //чтобы каждый раз когда мы выполняли поисковой запрос мы хотим
      //вернуться к исходному значению(продуктс), а затем начинать фильтрацию
      if(value){
        this.sortedProducts = this.sortedProducts.filter(function(item) {
          return item.name.toLowerCase().includes(value.toLowerCase());
        });
      } else {
        this.sortedProducts = this.PRODUCTS
      }
      /*      return this.PRODUCTS.filter((product) => {
                return product.name.indexOf(this.search) > -1;
            });*/
    },
    ...mapActions(['GET_PRODUCTS_FROM_API', 'ADD_TO_CART',
    'GET_ALL_CATEGORIES']), //UDOBNO!
  },
  computed:{
    ...mapGetters([
        'PRODUCTS', 'CARTS', 'SEARCH_VALUE'
    ]),
/*    filteredProductsByCategories(){
      if(this.sortedProducts.length){
        return this.sortedProducts
      } else return this.PRODUCTS
    }*/
  },
  mounted() {// jiznennii hook
    this.GET_PRODUCTS_FROM_API()
    .then((response) => {
      if(response.data){
        console.log('Data arrived!')
        this.sortByCategories(this.selected);
        this.sortProductsBySearchValue(this.SEARCH_VALUE);
      }
    });
    this.GET_ALL_CATEGORIES().then((result) => {
      this.categories = result.data;
    });
  },
  watch: {
    SEARCH_VALUE(){
      this.sortProductsBySearchValue(this.SEARCH_VALUE)
    }//когда searchvalue в хедере будет меняться, мы следим и вызываем наш метод
  }
}
</script>

<style lang="scss">
@import "./src/assets/styles/styles";
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}
.input-text{
  width: 100%;
}
.catalog {
  width: 1200px;
  margin-left: 20px;
  margin-top: 240px;
  &-list {
     display: flex;
     flex-wrap: wrap; /*c perenosom na cleduyushuuy ctroky*/
     justify-content: space-between; /*raspolojenie objectov c rasstoyaniem mejdy drug drugom*/
     align-items: center; /*viravnivanie po centru*/
   } /*//eto dlya kartochek v ryad*/
  &-link-to-cart{
    position: absolute;
    top: -28px;
    right: 0px;
    padding: $padding*2;
    border: solid 1px #e0e0e0;
  }
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.range-slider{
  width: 200px;
  margin: auto 16px;
  text-align: center;
  position: relative;
}
.range-slider svg, .range-slider input[type=range]{
  position: relative;
  left: 0;
  bottom: 0;
}
input[type=range]::-webkit-slider-thumb {
  position: absolute;
  top: 2px;
  margin-top: -7px;
}
</style>
