<template>
  <div class="header">
    <router-link :to="{name: 'main'}">
      <img src="../../assets/logo.png" alt="">
    </router-link>
    <router-link :to="{name: 'user'}">
      <v-label>My profile</v-label>
    </router-link>
    <div class="search-filed">
      <input
          type="text"
          v-model="searchValue"
      >
      <button
          class="search_btn"
      >
        <i
            @click="search(searchValue)"
            class="material-iconssearch">Search</i>
      </button>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
export default {
  name: "Header",
  data(){
    return {
      searchValue: ''
    }
  },
  methods:{
    ...mapActions([
        'SET_SEARCH_VALUE_TO_VUEX'
               ]),
    search(value){
      this.SET_SEARCH_VALUE_TO_VUEX(value);
      this.$router.push('/catalog');
    }
  },
  computed: {
    ...mapGetters(["SEARCH_VALUE"])
  }
}
</script>

<style lang="scss">
@import "./src/assets/styles/styles";
  .header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    background: $green-bg;
    padding: 16px;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    .search-filed{
      position: relative;
      right: 200px;
      padding: 16px;
      color: #ffffff;
      background: #e7e7e7;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .search_btn {
      margin-left: 16px;
      background: transparent;
      border: none; /*prosto iconka*/
    }
  }
</style>
