<template>
  <v-app toolbar
  footer>
  <div class="main-wrapper" id="app">
    <v-content app>
      <keep-alive>
        <router-view/>
      </keep-alive>
    </v-content>
  </div>
  </v-app>
</template>

<script>
export default {
  name: 'app', //eto layout tipo
  data() {
    return {
    }
  },
  methods: {
  },
  computed: {
    layout(){
      console.log(this.$route.meta)
      return (this.$route.meta.layout || 'empty')
    }
  }
}
</script>

<style>
.main-wrapper{
  margin: 0 auto;
}
</style>
