<template>
  <div
      class="popup-wrapper"
      ref="popup-wrapper"
  >
<div class="popup">
  <div class="popup-header">
     <span>{{popupTitle}}</span>
    <span>
    <i
        @click="closePopup"
        class="material-icons">cancel</i> </span>
<!--    название иконок смотрится на material.io-->
  </div>
  <div class="popup-content">
    <slot></slot>
  </div>
  <div class="popup-footer">
    <button
        class="close-modal"
        @click="closePopup"
    >Close</button>
    <button
        @click="rightBtnAction"
        class="submit-button">{{rightButtonTitle}}</button>
  </div>
</div>
  </div>
</template>

<script>
export default {
  name: "Popup",
  props: {
    popupTitle: {
      type: String,
      default: 'popupName'
    },
    rightButtonTitle: {
      type: String,
      default: 'Ok'
    }
  },
  methods: {
    closePopup() {
      this.$emit('closePopup');
    },
    rightBtnAction(){
      this.$emit('rightBtnAction')
    }
  },
  mounted() {
    let self = this;
    document.addEventListener('click', function (item){
      if(item.target === self.$refs['popup-wrapper']) {
        console.log('click outside popup window')
        self.closePopup();
      }
    });
  }
}
</script>

<style lang="scss">
  .popup-wrapper {
    background: rgba(64, 64, 64, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .popup {
    padding: 16px;
    position: fixed;
    top: 50px;
    width: 400px;
    background: #ffffff;
    box-shadow: 0 0 17px 0 #e7e7e7;
    &-header, &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .submit-button {
      padding: 8px;
      color: #e0e0e0;
      background: #26ae68;
    }
    .close-modal {
      color: #e0e0e0;
      background: crimson;
    }
  }
</style>