<template>
  <div class="card">
    <article class="card-body">
      <router-link class="v-btn reg-btn" to="/register">Sign up</router-link>
      <h4 class="card-title mb-4 mt-1">Sign in</h4>
      <v-text-field
        name="passwordConfirm"
        v-model="login"
        label="Your login"
        required
        :rules="rules.login"
        v-validate="'required'"
        :error="errors.has('login')"
        class="without-count"
      ></v-text-field>
      <v-text-field
        name="password"
        v-model="password"
        label="Your password"
        required
        :rules="rules.password"
        v-validate="'required'"
        :error="errors.has('password')"
        type="password"
        class="without-count"
      ></v-text-field>
        <div class="form-group">

          <button
              @click="authorize"
              type="submit"
              class="btn-primary btn-block submit btn v-btn reg-btn">
            Login
          </button>
        </div> <!-- form-group// -->
    </article>
  </div>
</template>

<script>

import {mapActions, mapGetters} from "vuex";
import router from "@/router";
import store from "@/store";

export default {
  $_veeValidate: {
    validator: "new"
  },
  name: "Authorization",
/*  beforeRouteEnter(to, from, next){
    console.log('to:', to);
    console.log('from:', from);
    next()
  },*/
  data() {
    return {
      login: '',
      password: '',
      rules: {
        login: [v => !!v || "Поле login не должно быть пустым!"],
        password: [v => !!v || "Поле password не должно быть пустым!"]
      }
    }
  },
  methods: {
    ...mapActions(['AUTHORIZE', 'AUTH', 'SET_USER']),
    ...mapGetters(['USER']),
    authorize(){
      this.validateBeforeSubmit().then(result => {
        console.log(result)
        if(result){
          this.AUTH(this.getAuthData)
          .then((result) => {
            let obj = result.data;
            console.log(obj)
            store.dispatch('SET_USER', result.data);
            store.commit('SET_AUTH', true);
            if(result.data.username == "admin") {
              router.push('/admin')
            }
            else router.push('/catalog');
          })
          .catch((result) => {
            console.log("RESULTAT EXCEPTION:", result)
            alert(result.response.data.error);
          })
        }
      });
    },
    validateBeforeSubmit() {
      return this.$validator.validateAll().then(result => result);
    },
  },
  computed: {
    getAuthData() {
      return {
        login: this.login,
        password: this.password
      };
    },
  }
}
</script>

<style>
.submit{
  margin-block: 10px;
}
.card {
  width: 800px;
}
.reg-btn{
  right: 10px;
  top:5px;
}
</style>
