<template>
  <div>
    <article class="card-body">
    <div>
      <div>
        <div>
          <div>
              <div class="container-registration">
                <h3 class="panel-title">Зарегистрируйтесь!</h3>
                <v-text-field
                  name="first_name"
                  v-model="first_name"
                  label="First name"
                  :counter="50"
                  v-validate="'required'"
                  :rules="rules.firstname"
                  :error="errors.has('first_name')"
                  required
                ></v-text-field>
                <v-text-field
                  name="last_name"
                  v-model="last_name"
                  label="Last name"
                  v-validate="'required'"
                  :rules="rules.lastname"
                  :error="errors.has('last_name')"
                  :counter="50"
                  required
                ></v-text-field>
                <v-text-field
                  name="middle_name"
                  v-model="middle_name"
                  label="Middle name"
                  v-validate="'required'"
                  :rules=rules.middlename
                  :error="errors.has('middle_name')"
                  :counter="50"
                  required
                ></v-text-field>
                <v-menu>
                  <v-text-field
                    name="date_field"
                    slot="activator"
                    :value="date_birthday"
                    label="Date of birthday"
                    :rule="rules.date"
                    v-validate="'required'"
                    :error="errors.has('date_birthday')"
                    required
                  >
                  </v-text-field>
                  <v-date-picker
                    class="v-date-picker-header"
                    ref="picker"
                    @input="menu = false"
                    first-day-of-week="1"
                    locale="ru-ru"
                    v-model="date_birthday"
                    no-title
                    scrollable
                    :max="maxDate"
                  >
                  </v-date-picker>
                </v-menu>
                <v-text-field
                  name="login"
                  v-model="login"
                  label="Username"
                  :rules="rules.username"
                  v-validate="'required'"
                  :error="errors.has('login')"
                  required
                ></v-text-field>
                <v-text-field
                  name="password"
                  type="password"
                  v-model="password"
                  label="Your password"
                  :rules="rules.password"
                  v-validate="'required'"
                  :error="errors.has('password')"
                  required
                ></v-text-field>
                <v-text-field
                  name="passwordConfirm"
                  v-model="passwordConfirm"
                  label="Confirm your password"
                  :rules="rules.passwordConfirm"
                  type="password"
                  v-validate="'required'"
                  :error="errors.has('passwordConfirm')"
                  required
                ></v-text-field>
                <button
                  type="submit"
                  @click="registerUser"
                  value="Register"
                  class="btn btn-info btn-block btn-register">Send</button>
              </div>
              </div>
          </div>
        </div>
      </div>
    </article>
    </div>
</template>

<script>

import {mapActions} from 'vuex'
import DateUtils from '@/util/date-helper'
export default {
  name: "Registration",
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    registerUser() {
      this.validateBeforeSubmit().then(result => {
        console.log("VALIDATE BEFORESUBMIT:", result)
        if(result){
          console.log(this.REGISTER_USER(this.getRegistrationObj));
        }
      })
/*      console.log(this.getRegistrationObj);
      //let url = 'http://localhost:8090/login/admin/123456';
      console.log("MAIN: ", this.getRegistrationObj);
      console.log("MAIN END");*/
    },
    ...mapActions(['REGISTER_USER']),
    validateBeforeSubmit() {
      return this.$validator.validateAll().then(result => result);
    },

  },
  data() {
    return {
      login: '',
      password: '',
      passwordConfirm: '',
      first_name: '',
      last_name: '',
      middle_name: '',
      date_birthday: '',
      maxDate: DateUtils.currentDate(),
      rules: {
        username: [v => !!v || "Поле username не должно быть пустым!"],
        password: [v => !!v || "Введите пароль!"],
        passwordConfirm: [v => !!v || "Подтвердите введённый пароль!"],
        date: [v => !!v || "Поле date of birthday не должно быть пустым"],
        firstname: [v => !!v || "Поле firstname не должно быть пустым!",
          (v) => (v ? v.length : 0) <= 50 || 'Максимум 50 символов'],
        lastname: [v => !!v || "Поле lastname не должно быть пустым!",
          (v) => (v ? v.length : 0) <= 50 || 'Максимум 50 символов'],
        middlename: [v => !!v || "Поле middlename не должно быть пустым!",
          (v) => (v ? v.length : 0) <= 50 || 'Максимум 50 символов']
      },
    }
  },
  computed: {
    getRegistrationObj(){
      return {
        login: this.login,
        password: this.password,
        passwordConfirm: this.passwordConfirm,
        first_name: this.first_name,
        last_name: this.last_name,
        middle_name: this.middle_name,
        date_birthday: this.date_birthday
      };
    }
  },
  beforeRouteLeave(to, from, next) {
    if (!this.editMode || this.noChanges(this.newsBeforeEdit, this.news)) {
      next();
    } else {
      this.showWMessage("Перед выполнением действия необходимо сохранить или отменить изменения");
    }
  },
}
</script>

<style>
.fields {
  margin-block: 10px;
}
.btn-register{
  margin-block: 10px;
}
.container-registration {
  width: 800px;
}
.row { position: relative; margin: 0 -10px; }
</style>
