<template>
  <div class="table-main">
  <div class="table-header">
    <p>ID</p>
    <p>Username</p>
    <p>Password</p>
    <p>First name</p>
    <p>Last name</p>
    <p>Middle name</p>
    <p>Date birthday</p>
    <p>Enable</p>
  </div>
    <div class="table-body">
      <TableItem
          v-for="user in USERS"
          :key="user.id"
          :row_data="user"
      ></TableItem>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import TableItem from "@/components/profile/admin/TableItem";
export default {
  name: "AdminPanel",
  props: {
    users_data: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  components: {
    TableItem
  },
  methods: {
    ...mapActions(['GET_USERS_FROM_API', 'AUTHORIZE']),

  },
  computed: {
    ...mapGetters(['USERS']),
  },
  mounted() {
    this.GET_USERS_FROM_API();
  }
}
</script>

<style lang="scss">
.table-main {
  width: 100%;
  margin-block: 200px;
}
.table-header {
  display: flex;
  justify-content: space-around;
/*  border: solid 1px #e7e7e7;*/
}
.table-header p {
  flex-basis: 12.5%;
  text-align: left;/*//viravnivaet text*/
  padding: 0px 30px;
  text-align: left;
}
.body-row {

}
.admin{ margin: 100px;}
</style>
