<template>
  <div class="table-row">
    <v-card>
    <div class="row row-id">
      {{row_data.id}}
    </div>
    <div class="row row-username">
      {{row_data.username}}
    </div>
    <div class="row row-password">
      {{row_data.password}}
    </div>
    <div class="row row-firstname">
      {{row_data.first_name}}
    </div>
    <div class="row row-lastname">
      {{row_data.last_name}}
    </div>
    <div class="row row-middlename">
      {{row_data.middle_name}}
    </div>
    <div class="row row-datebirthday">
      {{row_data.date_birthday | fromUnixToDate}}
    </div>
    <div class="row row-enable">
      <input
          v-model="row_data.enable"
          type="checkbox" id="enabled"
      />
    </div>
    </v-card>
  </div>
</template>

<script>
import fromUnixToDate from "@/filters/fromUnixToDate";
export default {
  name: "TableItem",
  props: {
    row_data: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  filters: {
    fromUnixToDate
  }
}
</script>

<style lang="scss">
  .table-row {
    display: flex;
    justify-content: space-around;
    border: solid 1px #e7e7e7;
  }
  .row{
    flex-basis: 12.5%;  /*100%:kol-vo elmentov*/
    padding: 35px 30px;
    text-align: left;
  }
</style>
